{% extends 'books/layout.html' %}

{% block title %}{{ book.title }} Details{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>

<p><strong>Author:</strong> {{ book.author }}</p>
<p><strong>Year:</strong> {{ book.year }}</p>
<p><strong>Rating:</strong> {{ book.rating }}</p>
<p><strong>Description:</strong></p>
<p>{{ book.description }}</p>

<div class="detail-container">
<a href="/edit/{{ book.id }}/">Edit</a> |
<a href="/delete/{{ book.id }}/">Delete</a>
<div>
<br><br>
<a href="/" class="btn btn-secondary">Back to Home</a>
{% endblock %}